.add-task-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f6f7f8;
  min-height: 920px;
  padding: 48px 96px;
}

.headline{
    display: flex;
    justify-content: flex-start;
}

.required-description{
    display: flex;
}

.redstar{
    color: red;
}

.add-task-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.add-task-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 40px; 
    border-right: 1px solid #D1D1D1;
}

.add-task-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 40px; 
}

.priority-buttons-wrapper {
    display: flex;
    gap: 10px;
}

.subtask-btn{
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.drop-down-menu {
  background-color: white;
  border-radius: 10px;
}
  .dropdown-options.hidden {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .dropdown-single-option {
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .dropdown-single-option:hover {
    background-color: #D1D1D1;
  }

  .clear-save-btn-wrapper {
    display: flex;
    width: 100%;
  }
  
  .clear-save-btn {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    padding: 0 24px;  
  }

  .clear-save-btn-pos {
    display: flex;
    gap: 16px;
  }
  