.board {
    background-color: #f6f7f8;
    min-height: 845px;
    padding: 96px;
}

/* .board-navigation {
   
    
} */

.board-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.board-content {
    display: flex;
    justify-content: space-between;
    gap: 36px;
    overflow-x: hidden;
    height: 480px;
}

.workflow-stages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    color: #42526e;
    font-weight: 700;
    padding: 36px 0px;
}

.single-stages {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 240px;
    justify-content: space-between;

}

.drag-drop-container {
    width: 260px;
    height: 100%;

}





.task-card {
    width: 260px;
    border-radius: 16px;
    padding: 16px;
    background-color: #ffffff;
}

.task-title {
    padding: 24px 0px 16px 0px;
}

.task-description-short {
    color: #cecece;
}

.task-progress-container {
    display: flex;
    gap: 16px;
    padding: 16px 0px;
}

.task-progressbar {
    background-color: #ccc;
    width: 50%;
    height: 8px;
    border-radius: 4px;
}

.task-progrssbar-content {
    background-color: #4589ff;
    height: 8px;
    width: 50%;
    border-radius: 4px;
}

.task-progressbar-quotient {
    font-size: 12px;
}

.no-tasks-text {
    font-size: 19px;
    color: #a8a8a8;
    margin: 0;
}

.placeholder-box {
    width: 260px;
    height: 48px;
    border: 1px dashed #a8a8a8;
    border-radius: 8px;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    display: none;
}