.board-navigation {
    height: 232px;
    background-color: #f6f7f8;
}

.board-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 36px;
}

.board-content {
    height: 688px;
    background-color: #f6f7f8;
    display: flex;
    justify-content: space-around;
    gap: 36px;
}




.add-btn {
    background-image: url(../assets/img/icon-add-default.svg);
}

.workflow-stages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 24px;
    color: #42526e;
    font-weight: 700;
    margin-top: 36px;
}

.drag-drop-container{
    border: 2px dotted grey;
    width: 250px;
    height: 250px;
    border-radius: 24px;
    background-color: #42526e23;
}