.help-content {
  padding: 80px;
}

.link-style {
  color: #29abe2;
  text-decoration: none;
}

.headling-back-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ol {

  margin-left: 30px;

}

li::marker {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 1460px) {
  .help-content {
    padding: 64px;
  }
}

@media (max-width: 1400px) {
  .help-content {
    padding: 52px;
  }
}

@media (max-width: 1300px) {
  .help-content {
    padding: 48px;
  }
}

@media (max-width: 576px) {
  .help-content {
    padding: 36px;
  }
}

@media (max-width: 480px) {
  .help-content {
    padding: 24px;
  }
}

@media (max-width: 380px) {
  .help-content {
    padding: 12px;
  }
}