.headling-back-arrow-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ol {

  margin-left: 30px;

}

li::marker {
  font-size: 18px;
  font-weight: bold;
}

.enjoy-text {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 400px) {
  .enjoy-text {
    justify-content: center;
    font-size: 30px;
  }
}