.help-content{
    padding: 80px;
}

.link-style{
    color:#29abe2;
    text-decoration: none;
}

.headling-back-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  ol {
  
    margin-left: 30px;
    
  }

  li::marker{
    font-size: 18px;
    font-weight: bold;
  }