* {
    box-sizing: border-box;
    font-family: 'Inter';
    padding: 0;
    margin: 0;
}

.d-none {
    display: none !important;
}

.hidden {
    visibility: hidden;
}

h1 {
    font-size: 72px;
}

body {
    height: 100vh;
}

main {

    display: flex;
    flex-direction: column;
    padding-left: 232px;
    background-color: #F6F7F8;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.bg-none {
    background: none;
}

.join-link {
    color: #29abe2;
    text-decoration: none;
    cursor: pointer;
}

/* Padding for Content in Help and Legal Notice Pages */
.content-padding {
  padding: 80px;
}

@media (max-width: 1460px) {
  .content-padding {
    padding: 64px;
  }
}

@media (max-width: 1400px) {
  .content-padding {
    padding: 52px;
  }
}

@media (max-width: 1300px) {
  .content-padding {
    padding: 48px;
  }
}

@media (max-width: 576px) {
  .content-padding {
    padding: 36px;
  }
}

@media (max-width: 480px) {
  .content-padding {
    padding: 24px;
  }
}

@media (max-width: 380px) {
  .content-padding {
    padding: 12px;
  }
}