* {
  box-sizing: border-box;
  font-family: 'Inter';
  padding: 0;
  margin: 0;
}

.d-none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
  font-weight: 500;
}

h3 {
  font-size: 32px;
  font-weight: 400;
}

.subtitle {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

/* body {
  height: 100%;
  width: 100vw;
  overflow: auto;
  background-color: #f6f7f8;
} */

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 232px;
  background-color: #F6F7F8;
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 100;
}

.logo-small {
  width: auto;
  height: 64px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.bg-none {
  background: none;
}

.flex-column-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-row-layout {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color-blue {
  color: #29abe2;
}

.content {
  background-color: #F6F7F8;
  padding: 24px 48px;
  position: relative;
  overflow: hidden;
  flex: 1;
  overflow: auto;
}

.textbox {
  max-width: 1080px;
  width: 100%;
}

@media (max-width: 1500px) {
  .content {
    padding: 24px 40px;
  }

  h1 {
    font-size: 64px;
  }
}

@media (max-width: 1200px) {
  .content {
    padding: 24px 24px;
  }
}

@media (max-width: 992px) {
  .content::-webkit-scrollbar {
    width: 10px;
  }

  .content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  .content::-webkit-scrollbar-thumb {
    background: rgb(42, 54, 71);
    border-radius: 10px;
  }

  .content::-webkit-scrollbar-thumb:hover {
    background: #2a3d59;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }
}

@media (max-width: 476px) {
  .content {
    padding: 16px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  .subtitle {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 40px;
  }
}