* {
    box-sizing: border-box;
    font-family: 'Inter';
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 72px;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 232px;
}
