aside {
    width: 232px;
    background-color: #2A3647;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 64px 0px;
    gap: 120px;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #cdcdcd;
    flex: 1;
    width: 100%;
}

.navigate-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.logo-kanban-text-wrapper {
    display: flex;
    align-items: center;
}

.logo-blue {
    height: 48px;
    visibility: hidden;
}

.logo-white {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
}

.legal-informations-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    bottom: 36px;
    left: 63.5px;
}

.hug {
    min-height: 96px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.068);
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    z-index: 99;
    background-color: #fff;
}

.hug-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.kanban-text {
    padding-left: 16px;
    font-size: 24px;
}

.help-and-profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* navbar-mobile */
.navbar-mobile {
    width: 100vw;
    background-color: #2a3647;
    /* position: relative; */
    bottom: unset;
}

.navbar-mobile-wrapper {
    display: none;
    justify-content: space-evenly;
    padding: 0 40px;
}

.btn-menu-mobile {
    height: 100%;
    padding: 16px;
    border: 0;
    border-radius: 8px;
    color: #A8A8A8;
    background-color: transparent;
}

.navigate-btn-wrapper .btn-menu {
    padding-left: 40px;
}

#profile-menu-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    padding: 96px 40px;
    z-index: 299;
}

.profile-menu {
    padding: 12px;
    border-radius: 16px 0px 16px 16px;
    background-color: #2A3647;
    z-index: 300;
}

#profile-menu-help-btn {
    display: none;
}

.data-protection-imprint-wrapper{
    display: flex;
}


@media (max-width: 992px) {
    .logo-blue {
        visibility: visible;
    }

    .navbar-mobile-wrapper {
        display: flex;
        justify-content: space-between;
    }

    aside {
        display: none;
    }

    main {
        padding-left: 0;
    }
    
}

@media (max-width: 768px) {
    .kanban-text {
        display: none;
    }

    #help-btn {
        display: none;
    }

    #profile-menu-help-btn {
        display: flex;
    }
}

@media (max-width: 476px) {
    .btn-menu-mobile {
        padding: 8px;
    }

    .hug {
        min-height: 74px;
        padding: 0 16px;
    }

    .logo-blue {
        height: 32px;
    }

    #profile-menu-overlay {
        padding: 74px 16px;
        z-index: 299;
    }

    .navbar-mobile-wrapper {
        padding: 0 16px;
    }
}